<nav id="navbar" class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <p class="navbar-brand">{{#link-to 'index'}}Q&A{{/link-to}}</p>
    </div>
    <ul class="nav navbar-nav">
      <li class="active">{{#link-to 'index'}}HOME{{/link-to}}</li>
      <li class="active">{{#link-to 'about'}}ABOUT{{/link-to}}</li>
    </ul>
  </div>
</nav>
{{outlet}}
